# Binary files
bin/
main
*.exe
*.dll
*.so
*.dylib

# Dependency folders
vendor/
node_modules/

# Environment variables
.env
*.env
.env.local
.env.*.local

# Docker data 
postgres-data/
mongo-data/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# OS files
.DS_Store
Thumbs.db